
@font-face {
  font-family: "plain light";
  src: url(plain-light-webfont.ttf);
}
@font-face {
  font-family: "plain regular";
  src: url(plain-regular-webfont.ttf);
}
@font-face {
  font-family: "silk serif";
  src: url(./silkserif-lightitalic-webfont.ttf);
}
@font-face {
  font-family: "silf serif regular";
  src: url(silkserif-regularitalic-webfont.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  background-color: #151515;
}
.mousefollower{
    scale : 2;
    border: 10px solid white;
    mix-blend-mode: difference;
  }

#loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  padding: 7vw 6vw;
  z-index: 151;
  background-color: #030303;
  /* padding: 25vh 10vw; */
}
.loaderContent {
  width: fit-content;
  margin: 0.5vw;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  gap: 2.8vw;
}
.timer {
  display: flex;
  height: 100%;
  /* font-family: "Silk Serif"; */
  width: 20vw;
  justify-content: flex-end;
  align-items: start;
}
.timer h2 {
  font-size: 4vw;
  font-weight: 400;
  font-family: "silk serif";
}
.loaderContent h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "plain light";
  font-weight: 600;
}
.blink {
  font-size: 4vw;
  width: 16vw;
  display: flex;
  align-items: center;
  height: 14vh;
}
.blink h2 {
  font-weight: 400;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: whitesmoke;
}
@keyframes blinker {
  0% {
    opacity: 1;
    color: white;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.waiting {
  overflow: hidden;
  margin-left: 30%;
  margin-top: 3vw;
}
.waiting h3 {
  font-size: 1.1vw;
  font-weight: 100;
}

/*hero container*/

.heroContainer {
  width: 100%;
  height: 100vh;
  background: #151515;
  position: relative;
  margin-bottom: 2vw;
}
.heroContainer nav {
  display: flex;
  padding: 4.18vw 5.18vw;
  justify-content: space-between;
}
.heroContainer nav {
  display: flex;
  padding: 4.18vw 5.18vw;
  justify-content: space-between;
}
.svgs {
  display: flex;
  align-items: center;
  gap: 3vw;
  height: fit-content;
}
.logos {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.logos p {
  line-height: 1.2vw;
}
.menus {
  display: flex;
  gap: 2.8vw;
}
.menus a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 500;
  font-family: "plain light";
}
.heroContent {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  height: fit-content;
  width: 73%;
  margin-left: 27%;
  font-family: "plain light";
  overflow: hidden;
  z-index: 999;
  position: relative;
}
.heroContent h2 {
  font-size: 7.5vw;
  text-align: center;
  font-weight: 500;
  font-family: "plain regular";
  line-height: 7.5vw;
  z-index: 55;
}
.mainContainer {
  width: 100%;
  display: flex;
  margin-top: 2.5vw;
  flex-direction: column;
  position: relative;
}
#flags {
  height: 30vw;
  position: fixed;
  z-index: 10;
  /* top: 0;
    left: 0; */
  transform: translate(-50%, -50%);
  opacity: 0;
}

.mainContainer::before {
  content: "01";
  position: absolute;
  top: 0%;
  left: 21%;
  font-family: "silk serif";
  font-size: 3.2vw;
}
.heroContent h2 u:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 400;
}
.heroContent h2 u {
  transition: all ease 0.3s;
}


#page2 {
  height: 100vh;
  width: 100%;
  padding: 10vh 0vh;
  background-color: #151515;
  display: flex;
  justify-content: end;
  align-items: center;
}
#vid-container {
  width: 72vw;
  height: 70vh;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  position: relative;
  /* object-fit: contain; */
}
#vid-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
}
#vid-crsr {
  position: absolute;
  top: 5%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vw;
  z-index: 9;
  background-color: #ffa63d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#vid-crsr svg {
  fill: #fff;
}

#vid-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}
#about {
    align-items: start;
    min-height: 228vh;
    background: #151515;
    display: flex;
    padding-top: 2vw;
    justify-content: flex-end;
}
#aboutContent::before {
    content: "03";
    position: absolute;
    top: 1.2%;
    left: -10%;
    font-family: "silk serif";
    font-size: 3.3vw;
  }
  #aboutContent {
    width: 66vw;
    min-height: 70vh;
    margin-right: 8vw;
    /* background: yellow; */
    position: relative;
  }

  #aboutContent h3 {
    font-size: 7.5vw;
    letter-spacing: 0.1vw;
    font-weight: 500;
  }

  .underline {
    width: 100%;
    /* height: vh; */
    border: 1px solid white;
    margin: 2vw 0;
}
  #aboutContent .mainText {
    font-size: 2.5vw;
    width: 50%;
    margin-top: 5vw;
  }
  .imgSections {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin-top: 3vw;
  }
  .imgSections img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  .texts p {
    width: 65%;
    font-size: 1.2vw;
    margin: 0 0 2vw 0;
  }
  .table {
    width: 60%;
    height: 80vh;
    background: #3f7df4;
    padding: 2.3vw;
    position: absolute;
    right: 6.5%;
    bottom: -30%;
  }
  .table .rows {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }
  .rows h4 {
    font-size: 2vw;
    font-weight: 500;
  }
  .rows p {
    font-size: 1.1vw;
    width: 50%;
    /* text-align: end; */
  }



#worksWith {
    min-height: fit-content;
    width: 100%;
    background: #151515;
    display: flex;
    align-items: end;
    flex-direction: column;
  
  /* position: relative; */
  /* overflow: hidden; */
  
  /* justify-content: center; */
}
.workContent {
    width: 65vw;
    margin-right: 10vw;
  }
  .workContent h6 {
    font-size: 1.2vw;
    font-weight: 300;
  }
  .marqueAnime {
    width: 100%;
    margin-top: 4vw;
  }

.moving-elem,
.moving-elem-rev {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}
.moving-elem h1,
.moving-elem-rev h1 {
  font-size: 7vw;
  font-weight: 500;
  color: transparent;
  /* background-color: red; */
  text-transform: uppercase;
  /* margin-bottom: 2vh; */
  -webkit-text-stroke: 0.5px #fff;
  display: inline-block;
  margin-right: 16px;
  animation: marqueAnime 25s linear infinite;
}
.moving-elem span,
.moving-elem-rev span {
  font-size: 7vw;
  font-weight: 500;
  color: transparent;
  /* background-color: red; */
  text-transform: uppercase;
  /* margin-bottom: 2vh; */
  -webkit-text-stroke: 0.5px #fff;
  display: inline-block;
  margin-right: 16px;
  font-family: "Silk Serif";
}

.moving-elem-rev h1 {
  animation-direction: reverse;
}
@keyframes marqueAnime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

#footer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: end;
    padding: 4vw;
    padding-left: 28vw;
    background: #151515;
    position: relative; 
}
.footerContainer{
    width: 66vw;
    min-height: 70vh;
    margin-right: 8vw;
    /* margin-left: 40vw; */
    position: relative;
}
.footerTop {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4vw;
  }
.footerContainer h1{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "plain light";
    margin-bottom: 3.5vw;
}


.footerContainer::before {
  content: "04";
  position: absolute;
  font-family: "Silk Serif";
  font-size: 3.5vw;
  font-weight: 100;
  top: 2%;
    left: -10%;
}


#footer svg {
  width: 8vw;
  height: 8vw;
  fill: #fff;
  margin-right: 1vw;
}


.linksSection {

    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    /* margin: 4vw 0; */
    margin-top: 7vw;
}
.linksSection ul{
    list-style: none;
}
.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2vw;
    align-items: start;
    justify-content: start;
}
.box h5{
    font-size: 1vw;
    font-weight: 600;
}


.box ul li, .box p {
    /* margin-top: 0; */
    font-size: 1.8vw;
    font-weight: 300;
    line-height: 1.9vw;
}


#footer h6 {
  font-size: 1vw;
}
