/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "plain light";
  src: url(fonts/plain-light-webfont.ttf);
}
@font-face {
  font-family: "plain regular";
  src: url(fonts/plain-regular-webfont.ttf);
}
@font-face {
  font-family: "silk serif";
  src: url(fonts/silkserif-lightitalic-webfont.ttf);
}
@font-face {
  font-family: "silf serif regular";
  src: url(fonts/silkserif-regularitalic-webfont.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  background-color: #151515;
}

.mousefollower {
  scale: 2;
  border: 10px solid white;
  mix-blend-mode: difference;
}

._canvas_container {
  z-index: 99999 !important;
  pointer-events: none;
}

#loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  padding: 7vw 6vw;
  z-index: 151;
  background-color: #030303;
}
.loaderContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8vw;
}
.timer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 20vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
#time{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.timer h2 {
  font-size: 4vw;
  font-weight: 400;
  font-family: "silk serif";
}
.loaderContent h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "plain light";
  font-weight: 600;
}
.blink {
  font-size: 4vw;
  width: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14vh;
}
.blink h2 {
  font-weight: 400;
  opacity: 0;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: whitesmoke;
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
    color: white;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
    color: white;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.waiting {
  overflow: hidden;
  margin-left: 30%;
  margin-top: 3vw;
}
.waiting h3 {
  font-size: 1.1vw;
  font-weight: 100;
}

/*hero container*/

.heroContainer {
  width: 100%;
  height: 100vh;
  background: #151515;
  position: relative;
  margin-bottom: 2vw;
}
.heroContainer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.18vw 5.18vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.svgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logos p {
  line-height: 1.5vw;
}
.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8vw;
}
.menus a {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 500;
  font-family: "plain light";
}
.heroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 73%;
  margin-left: 27%;
  font-family: "plain light";
  overflow: hidden;
  z-index: 999;
  position: relative;
}
.heroContent h2 {
  font-size: 7.5vw;
  text-align: center;
  font-weight: 500;
  font-family: "plain regular";
  line-height: 7.5vw;
  z-index: 55;
}
#hero3 h2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#hero3 h2 p {
  font-weight: 500;
  font-family: "plain regular";
  text-decoration: underline;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
#hero3 h2 p:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.mainContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
#flags {
  height: 30vw;
  /* position: fixed; */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 100%);
      -ms-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  opacity: 0;
}
.mainContainer::before {
  content: "01";
  position: absolute;
  top: 0%;
  left: 21%;
  font-family: "silk serif";
  font-size: 3.2vw;
  z-index: 5;
}
.heroContent h2 u:hover{
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 400;
  /* text-decoration: none; */
}
.heroContent h2 u {
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/* Video Section */

#videoSection {
  width: 100%;
  height: 100vh;
  background: #151515;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#videoContainer {
  width: 72vw;
  height: 68vh;
  position: relative;
}
#videoContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
#videoCursor {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: #ffa63d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 75%;
  top: 10%;
  position: fixed;
  /* transform: translate(-50%, -50%); */
  -webkit-transform: matrix(0 0 0 0 0 0);
      -ms-transform: matrix(0 0 0 0 0 0);
          transform: matrix(0 0 0 0 0 0);
  z-index: 999;

}
#videoCursor svg {
  fill: #fff;
}
#videoCursor #pause{
  display: none;
}
#videoContainer video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Projects Section */

#ourProjects {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
}
.projectTitle::before {
  content: "02";
  position: absolute;
  top: 2%;
  left: -10%;
  font-family: "silk serif";
  font-size: 3.3vw;
}
.projectTitle {
  width: 66vw;
  margin-left: 26vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.projectTitle h1 {
  font-size: 7vw;
  letter-spacing: 0.1vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3.5vw;
}
.showCaseHolder {
  width: 100%;
  padding: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 2fr;
}
.showCase {
  width: 25vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3vw;
}
.showCase h3 {
  font-size: 2.7vw;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2vw 0;
}
.imgInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2vw;
  gap: 7vw;
}
.imgInfo h4 {
  font-size: 1.2vw;
  font-weight: 500;
}
.circleDiv {
  width: 20vw;
  height: 20vw;
  border: 2px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18vw;
  position: relative;
}
.circleDiv svg {
  height: 55%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.inCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  scale: 0;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.inCircle p {
  color: #111;
  width: 90%;
  font-size: 1.2vw;
  font-weight: 500;
  padding: 0.5vw;
  text-align: center;
  scale: 0;
  -webkit-transition: all ease 0.9s;
  -o-transition: all ease 0.9s;
  transition: all ease 0.9s;
  -webkit-transition-delay: 0.1s ;
       -o-transition-delay: 0.1s ;
          transition-delay: 0.1s ;
}
.circleDiv:hover .inCircle {
  scale: 1;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}
.circleDiv:hover p{
  scale: 1;;
}
#c1 {
  margin-left: 5vw;
  margin-top: 30vw;
  margin-right: 2.5vw;
}
#c2 {
  margin-top: 0;
  margin-left: 5vw;
}
#c3 {
  margin-top: 35vw;
  margin-left: 10vw;
}
#c2 svg {
  rotate: -45deg;
  position: absolute;
  top: 30%;
  left: 64%;
}
#c3 svg {
  rotate: -90deg;
  position: absolute;
  top: 0;
  left: 56%;
}
.imgDiv {
  width: 25vw;
  height: 28vw;
  background: red;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.imgDiv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showCaseHolder .showCase:nth-child(even),
.showCaseHolder .showCase:nth-child(even) .imgDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30vw;
}
.showCaseHolder .showCase:nth-child(5),
.showCaseHolder .showCase:nth-child(5) .imgDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30vw;
}
.showCaseHolder .showCase:nth-child(6) {
  margin-top: -3vw;
}
.showCaseHolder .showCase:nth-child(5) {
  margin-top: 10vw;
}
.showCaseHolder .showCase:nth-child(7) {
  margin-top: -17vw;
}
.showCaseHolder .showCase:nth-child(9),
.showCaseHolder .showCase:nth-child(9) .imgDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30vw;
}
.showCaseHolder .showCase:nth-child(9) {
  margin-top: 2vw;
}
.showCaseHolder .showCase:nth-child(6) h3{
  text-transform: capitalize;
}
.showCaseHolder .showCase:nth-child(7) h3{
  text-transform: capitalize;
}
#allProject {
  width: 25vw;
  height: 25vw;
  background: #ffa63d;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2vw;
  font-weight: 500;
  position: relative;
  top: 10%;
  left: 37%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#allProject:hover {
  scale: 0.9;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#allProject h6 {
  font-weight: 400;
}

/* About Obys*/

#about {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  min-height: 228vh;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#aboutContent::before {
  content: "03";
  position: absolute;
  top: 1.2%;
  left: -10%;
  font-family: "silk serif";
  font-size: 3.3vw;
}
#aboutContent {
  width: 66vw;
  min-height: 70vh;
  margin-right: 8vw;
  position: relative;
}
#aboutContent h3 {
  font-size: 7.5vw;
  letter-spacing: 0.1vw;
  font-weight: 500;
}
.underline {
  width: 100%;
  border: 1px solid white;
  margin: 2vw 0;
}
#aboutContent .mainText {
  font-size: 2.5vw;
  width: 50%;
  margin-top: 5vw;
}
.imgSections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2vw;
  margin-top: 3vw;
}
.imgSections img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.texts p {
  width: 65%;
  font-size: 1.2vw;
  margin: 0 0 2vw 0;
}
.table {
  width: 60%;
  height: 80vh;
  background: #3f7df4;
  padding: 2.3vw;
  position: absolute;
  right: 6.5%;
  bottom: -30%;
}
.table .rows {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid white;
}
.rows h4 {
  font-size: 2vw;
  font-weight: 500;
}
.rows p {
  font-size: 1.1vw;
  width: 50%;
  /* text-align: end; */
}

/* Work with -- Marque Animation*/
#worksWith {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.workContent {
  width: 65vw;
  margin-right: 10vw;
}
.workContent h6 {
  font-size: 1.2vw;
  font-weight: 300;
}
.marqueAnime {
  width: 100%;
  margin-top: 4vw;
}

.moving-elem,
.moving-elem-rev {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}
.moving-elem h1,
.moving-elem-rev h1 {
  font-size: 7vw;
  font-weight: 500;
  color: transparent;
  /* background-color: red; */
  text-transform: uppercase;
  /* margin-bottom: 2vh; */
  -webkit-text-stroke: 0.5px #fff;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation: marqueAnime 25s linear infinite;
          animation: marqueAnime 25s linear infinite;
}
.moving-elem span,
.moving-elem-rev span {
  font-size: 7vw;
  font-weight: 500;
  color: transparent;
  /* background-color: red; */
  text-transform: uppercase;
  /* margin-bottom: 2vh; */
  -webkit-text-stroke: 0.5px #fff;
  display: inline-block;
  margin-right: 16px;
  font-family: "Silk Serif";
}
.moving-elem-rev h1 {
  animation-direction: reverse;
}
@-webkit-keyframes marqueAnime {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
@keyframes marqueAnime {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

/* Footer */

#footer {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 4vw;
  padding-left: 27vw;
  background: #151515;
  position: relative;
}
.footerContainer {
  width: 66vw;
  min-height: 70vh;
  margin-right: 8vw;
  position: relative;
}
.footerTop {
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 4vw;
}
.footerContainer h1 {
  font-size: 7vw;
  font-weight: 600;
  text-transform: uppercase;
}
.footerTop h1 #plain{
  font-family: "plain light";
  /* transition: all ease 3s; */
}
.footerTop h1 #silk{
  /* opacity: 0; */
  display: none;
  font-family: "silk serif";
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  /* transition: all ease 3s; */
}
.footerContainer::before {
  content: "04";
  position: absolute;
  font-family: "Silk Serif";
  font-size: 3.5vw;
  font-weight: 100;
  top: 2%;
  left: -12%;
}
#footer svg {
  width: 8vw;
  height: 8vw;
  fill: #fff;
  margin-right: 1vw;
  /* margin-top: 1vw; */
}
.linksSection {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7vw;
}
.linksSection ul {
  list-style: none;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  gap: 2vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.box h5 {
  font-size: 1vw;
  font-weight: 600;
}
.box ul li,
.box p {
  /* margin-top: 0; */
  font-size: 1.8vw;
  font-weight: 300;
  line-height: 1.9vw;
}
#footer h6 {
  font-size: 1vw;
}


/* media queries */

@media (max-width: 1024px) {

  /* Only Project section Changes */
.showCaseHolder {
  width: 100%;
  padding: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:2fr 2fr;
  grid-template-columns:2fr 2fr;
}
.circleDiv {
  display: none;
}
.showCaseHolder .showCase:nth-child(even),
.showCaseHolder .showCase:nth-child(even) .imgDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 45vw;
}
.showCaseHolder .showCase:nth-child(odd),
.showCaseHolder .showCase:nth-child(odd) .imgDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 45vw;
}
.showCaseHolder .showCase:nth-child(odd) {
  margin-top: 2vw;
}
.showCaseHolder .showCase:nth-child(even) {
  margin-top: 2vw;
}  
}

@media (max-width: 768px) {


  /* Loader */
#loader {
  height: 100vh;
  padding: 34vh 5vw;
}
.loaderContent {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.timer {
  width: 22vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.timer h2 {
  font-size: 5vw;
}
.blink {
  padding: 1vw;
  font-size: 4vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 10vw;
}
.waiting {
  overflow: hidden;
  margin-left: 2%;
  margin-top: 3vw;
}
.waiting h3 {
  font-size: 2.5vw;
}

  /* page1 */
.heroContainer {
  margin-top: 0;
  height: 70vh;
  background: #151515;
  margin-bottom: 2vw;
  padding-top: 1vw;
}
nav{
  width: 100vw;
  /* position: fixed; */
  position: absolute;
  top: 0;
  margin-top: 0;
  z-index: 1000;
}
.svgs {
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* position: fixed; */
}
.logos {
  width: 100%;
  /* position: fixed; */

}
.logos p {
  display: none;
}
.menus {
  display: none;
}
.heroContent {
  margin-left: 5%;
}
.heroContent h2 {
  font-size: 9vw;
  margin: 1vw;
}
.mainContainer {
  margin-top: 30vw;
}
#flags {
  top: 30%;
  left: 20%;
}
.mainContainer::before {
  top: -17%;
  left: 6%;
  font-size: 5vw;
}

/*Video section */
#videoSection {
  margin-top: 10vw;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* background-color: red; */
}
#videoContainer {
  padding-top: 10vw;
  width: 100vw;
  height: 60vh;
  position: relative;
}
#videoCursor {
  width: 15vw;
  height: 15vw;
  left: 45%;
  top: 40%;
}
#videoContainer video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* about project*/
#ourProjects {
  margin-top: 10vw;
  padding-top: 0vw;
}
.projectTitle::before {
  top: -30%;
  left: 1%;
  font-size: 4vw;
}
.projectTitle {
  width: 90vw;
  margin-left: 5vw;
}
.projectTitle h1 {
  font-size: 8vw;
  margin-bottom: 3.5vw;
}
.showCaseHolder {
  width: 100%;
  padding: 4.5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;

}
.showCase {
  width: 80vw;
  margin-top: 2vw;
}
.showCase h3 {
  font-size: 3vw;
}
.imgInfo {
  width: 100%;
}
.imgInfo h4 {
  font-size: 2vw;
}
.circleDiv {
  display: none;
}
.showCaseHolder .showCase:nth-child(even),
.showCaseHolder .showCase:nth-child(even) .imgDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90vw;
}
.showCaseHolder .showCase:nth-child(odd),
.showCaseHolder .showCase:nth-child(odd) .imgDiv {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90vw;
}
.showCaseHolder .showCase:nth-child(odd) {
  margin-top: 3vw;
}
.showCaseHolder .showCase:nth-child(even) {
  margin-top: 3vw;
}
#allProject {
  width: 40vw;
  height: 40vw;
  font-size: 5vw;
  top: 10%;
  left: 30%;
}
#allProject:hover {
  scale: 0.8;
}

/* About Obys*/
#about {
  padding: 4vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#aboutContent::before {
  top: -3%;
  left: 0;
  font-size: 4vw;
}
#aboutContent {
  /* background-color: red; */
  width: 95vw;
  min-height: 70vh;
  margin-right: 0vw;
  position: relative;
}
#aboutContent h3 {
  font-size: 8vw;
}
#aboutContent .mainText {
  font-size: 3.3vw;
  width: 94%;
}
.imgSections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2vw;
  margin-top: 5vw;
}
.imgSections img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.texts p {
  width: 40%;
  font-size: 2vw;
  margin: 0 0 2vw 0;
}
.table {
  width: 100%;
  height: 60vh;
  background: #3f7df4;
  padding: 2.3vw;
  position: absolute;
  right: 0%;
  bottom: -39%;
}
.rows h4 {
  font-size: 2.3vw;
  font-weight: 500;
}
.rows p {
  font-size: 1.8vw;
  /* text-align: end; */
}

/* Works with */
#worksWith {
  margin-top: 0vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.workContent {
  width: 100vw;
  padding: 5vw;
  margin-right: 0vw;
}
.workContent h6 {
  font-size: 2vw;
}
.moving-elem h1,
.moving-elem-rev h1 {
  font-size: 11vw;
  font-weight: 600;
}
.moving-elem span,
.moving-elem-rev span {
  font-size: 11vw;
  font-weight: 600;
}

/* footer */
#footer {
  margin-top: 40vh;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 4vw;
}
.footerContainer {
  width: 100%;
  margin-right: 0vw;
}
.footerTop {
  height: 15vw;
}
.footerContainer h1 {
  font-size: 8vw;
}
.footerContainer::before {
  font-size: 4.8vw;
  top: -3%;
  left: 0%;
}
.linksSection {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7vw;
  padding: 2vw 0;
}
.box {
  gap: 2vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}
.box h5 {
  font-size: 2.3vw;
}
.box ul li,
.box p {
  /* margin-top: 0; */
  font-size: 3vw;
  line-height: 3.1vw;
}
#footer h6 {
  margin-top: 8vw;
  font-size: 2vw;
}
}
